<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My personal GOTY</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" integrity="sha512-BnbUDfEUfV0Slx6TunuB042k9tuKe3xrD6q4mg5Ed72LTgzDIcLPxg6yI2gcMFRyomt+yJJxE+zJwNmxki6/RA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="container">
        <div class="row">
            <div class="col-9">
                <img v-for="(slide, i) in slides"  :src="slide.image" class="img-wrapper" :class=" i === currentIndex ? 'active' : '' " >
                <!-- bindo la classe :active... se i === currentindex, allora(?) aggiungo classe 'active', altrimenti(:) stringa vuota ('') -->
                
                    <div v-for="(slide, i) in slides" class="description" :class=" i === currentIndex ? 'active' : '' "> 
                        <h3>{{ slide.title }}</h3>
                    </div>
                    <div v-for="(slide, i) in slides" class="description-bis" :class=" i === currentIndex ? 'active' : '' "> 
                        <p>{{ slide.description}}</p>
                    </div>

            </div>

            <div class="col-2">
                <div class="row-cols-6">
                    <div class="row-col-2">
                        <img v-for="(slide, i) in slides"  :src="slide.image" class="preview-img" :class=" i === currentIndex ? 'active-preview' : '' ">
                    </div>
                </div>
            </div>
            <div class="buttons col-1">
                <div class="up" @click="up"> 
                    <i class="fas fa-chevron-circle-up"></i>
                </div>

                <div class="down" @click="down"> 
                    <i class="fas fa-chevron-circle-down"></i>
                </div>
            </div>
        </div>


    </div>

    <script src="app.js"></script>
</body>
</html>


